.center {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
}

.grid {
    display: flex;
}

.width_100 {
    width: 100%;
}

.m-top_35-p{
    margin-top: 35%;
}